 
    .navbar {
      margin-bottom: 230px;
      border-radius: 50px;
      background-color: #333;
      overflow: hidden;

    }

.navbar h2 {
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
}


  body { 
  background: url(https://i.pinimg.com/originals/a3/04/16/a304168113a5f756762b40e998e21b04.jpg) 
}

.footer {
    position: fixed;
    left: 10px;
    bottom: 4px;
    width: 100%;
    background-color: #0000;
    color: white;
    text-align: left;
} 

.container {
  background: #8c8c8c;
  padding: 100px 100px 100px 20px;
  background: url(https://i.pinimg.com/originals/a3/04/16/a304168113a5f756762b40e998e21b04.jpg);
  border-radius: 250px;

  
}

.btn-outline-warning {
  width: 30%;
  height: 130px;
  border-radius: 100px!important;
  background: #000000;


}

.btn-outline-warning {
  width: 30%;
  height: 100px;
  border-radius: 100px!important;
}









    

    

    
  

   
